# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS junk
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Dotnet tools
.nuget/
.idea/
