@page
@model WebAppCoreProduct.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.IsCorrect)
{
    <p>Name: <b>@Model.Name</b></p>
    <p>Price: <b>@Model.Price</b></p>
}
else
{
    <p>Переданы некорректные данные</p>
}
