@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<form>
    <label for="name">Название товара</label>
    <input type="text" name="name" /><br />

    <label for="price">Цена</label><br />
    <input type="number" name="price"/><br /><br/>
    <input type="submit" name="Получить скидку" /><br />
</form>
<h3>@Model.MessageResult</h3>

@* @if (Model.IsCorrect)
{
    <p>Name: <b>@Model.Product.Name</b></p>
    <p>Price: <b>@Model.Product.Price</b></p>
}
else
{
    <p>Переданы некорректные данные</p>
} *@