@page "{handler?}"
@model ProductModel
@{
}
<form method="post">
    <label for="name">Название товара</label> <br />
    <input type="text" name="name" /><br />

    <label for="price">Цена</label><br />
    <input type="number" name="price"/><br />

    <input type="submit" asp-page-handler="" value="Обычная скидка" /><br /><br />
    
    <label for="discount">Введите свою скидку (%)</label><br />
    <input type="number" name="discount" /><br />
    <input type="submit" asp-page-handler="Discount" value="С учётом своей скидки" /><br /><br />
    
    <label for="quantity">Количество</label><br />
    <input type="number" name="quantity" /><br />
    <input type="submit" asp-page-handler="Total" value="Итоговая сумма" /><br /> <br />
</form>
<h3>@Model.MessageResult</h3>
